html,body { 
			height: 100%; 
			margin: 0px; 
			padding: 0px; 
			}
.main{ 
			height: 100%; 
			background-image: url('https://www.elsetge.cat/myimg/f/89-894359_making-a-slick-mobileapp-website-with-jquery-css.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 20px;
			overflow: auto;
}